.modal-dialog{
    min-width: 90vw;

    .modal-content{
        border-radius: 10px;
        background-color: transparent;
    }  

    .modal-header{
        background-color: #03a9f4!important;
        font-weight: bold;
        color: white;
        text-align: center;        
        border-radius: 10px;

        h3{
            margin: auto;
        }
    }   
    
    .modal-body{
        background-color: white;
        .filters-modal-form-col{
            background-color: #25b3f575!important;
            padding: 0.5rem 0.5rem;
            border-radius: 10px;
            min-height: 185px;
            
        }
        .text-form{
            font-weight: 500;
            position: relative;
            left: -1.5rem;
            top: -.5rem;
        }
    }

    .modal-footer{
        justify-content: space-around;
        background-color: #03a9f4!important;
        border-radius: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}