#oneXTwo-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  .odds-info-container {
    width: 100%;
    p {
      width: 50%;
      margin: 0 auto;
      padding: 0;
    }
    p:nth-child(2) {
      font-size: 10px;
    }
  }
}

.UO-GGNG-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  .odds-info-container {
    width: 100%;
    p {
      width: 50%;
      margin: 0 auto;
      padding: 0;
    }
    p:nth-child(2) {
      font-size: 10px;
    }
  }
}
